# Web Framework & Server
fastapi
uvicorn
python-multipart
pydantic

# AI & LLM (Ollama)
ollama

# Traitement Audio (WhisperX)
torch
whisperx

# Manipulation de Documents (PDF & Word)
PyPDF2
python-docx
fpdf
htmldocx
markdown

# Utilitaires
typing-extensions

transformers == 5.9.0